/********** Device Styles **********/

/**
 * Tablet Landscape
 */

@media only screen and (max-width: 960px) {

	.wrapper {
		width: 90%;
	}
}

@media only screen and (max-width: 880px) {

	.wrapper {
		width: 90%;
	}

	h3 {
		font-size: 1em;
	}

}

/**
 * Tablet Portrait
 */

@media only screen and (max-width: 720px) {

	.wrapper {
		width: 90%;
	}

	nav {
		margin-bottom: 10px;
	}

	nav ul li {
		width: 135px;
		margin-left: 25px;
		margin-right: 0;
	}

	.sub_nav {
		font-size: 0.9em;
	}

	.sub_nav a.selected {
		font-weight: bold;
		font-size: 1.2em;
	}

}

@media only screen and (max-width: 640px) {

	.wrapper {
		width: 90%;
	}

	.sub_nav {
		width: 100%;
		margin: 25px 0 5px 0;
	}
}

/*
 * Smartphone Landscape
 */

@media only screen and (max-width: 570px){

	.wrapper {
		width: 90%;
	} 

	header {
		height: 150px;
		background-position: center right;
		background: url(../images/traveling-van-mobile-header.png);
		background-size: cover;
	}

	.title {
		display: none;
	}

	.sub_nav {
		width: 100%;
		margin: 10px 0 10px 0;
		border-bottom: 0px;
	}

	.sub_nav a {
		text-align: left;
		width: 75%;
		margin: 0;
		line-height: 0.9em;
		border-top: 1px solid #ccc;
		padding: 7px;
	}

	nav {
		width: 100%;
		margin: 5px 0 15px 0;
		border-bottom: 0px;
	}

	nav ul li {
		text-align: center;
		border-bottom: 1px solid #ccc;
		padding: 5px 0;
		width: 100%;
		margin-left: 0;
		font-size: 1em;
	}

	section {
  	  margin: 5px auto;
	}

	figcaption {
		font-size: 0.6em;
		line-height: 1em;
		margin-bottom: 10px;
		margin-top: 15px;
	}

	.home_image {
		height: 200px;
		min-width: 300px;
		margin-bottom: 10px;
	}

	.col3_image {
		height: 200px;
		min-width: 300px;
		margin-bottom: 10px;
	}

	.col2_right, .col1_left, .col1_mid, .col1_right  {
		float: none;
		width: 100%;
		margin: 0 0 20px;
	}

}

/**
 * Smartphone Portrait
 */

@media only screen and (max-width: 400px) {
	
	.wrapper {
		width: 90%;
	} 

	.title {
		padding: 75px 0 0 10px;
		font-size: 20px;
		line-height: 40px;
	}

	figcaption {
		font-size: 0.6em;
		line-height: 1em;
		margin-bottom: 10px;
		margin-top: 15px;
	}

	.sub_nav a {
		width: 100%;
	}


	h2 {
		font-size: 1.2em;
	}

	.hider {
		display: none;
	}

	iframe {
		max-width: 100%;
	}

}

/**
 * Printer
 */

@media print {
	*, h1, h2, h3, h4, h5, h6, p, a, section, div, table {
		color: black;
	}
}