/* web fonts */

@import url(http://fonts.googleapis.com/css?family=Londrina+Shadow);

/* fixes */

*	{
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
	line-height: 0;
}

body {
	background-color: #fff;
	font-family: 'Trebuchet MS', sans-serif;
	/*background-color: #e4f5fc;*/
}

/* header */

header {
	height: 200px;
	background: url(../images/header_image.jpg);
	background-position: bottom right;
}

.title {
	width: 50%;
	padding: 90px 0 0 25px;
	text-shadow: -10px -10px 10px #000;
	font-family: 'Londrina Shadow', 'Berlin Sans FB Demi', sans-serif;
	font-size: 30px;
	line-height: 60px;
}

/* Nav Bar */

nav {
	margin-bottom: 1.5em;
	border-bottom: 1px solid #ccc;
}

	nav ul li {
		display: inline-block;
		width: 125px;
		margin: 0 25px;
		line-height: 1.5em;
		text-decoration: none;
		padding: 10px 0 10px 0;
		font-size: 1.125em;
	}

/* Dropdown */

.dropdown {
  position: relative;
}

.dropdown-toggle:focus {
  outline: 0;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  list-style: none;
  background-color: rgba(255,255,255,.8);
  border: 1px solid #ff9933;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}

/*.dropdown-menu.pull-right {
  right: 0;
  left: auto;


.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}}*/

.dropdown-menu > li > a {
  display: block;
  padding: 5px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1em;
  color: #666;
  white-space: nowrap;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #ff9933;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #428bca;
  outline: 0;
}

.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #999999;
}

.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.open > .dropdown-menu {
  display: block;
}

.open > a {
  outline: 0;
}

.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.428571429;
  color: #999999;
}

.dropdown-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 990;
}

/*.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px solid;
  content: "";
}

.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 1px;
}*/

@media (min-width: 768px) {
  .navbar-right .dropdown-menu {
    right: 0;
    left: auto;
  }
}

/* ---- end dropdown */

	.hidden {
		display: none;
	}

	.sub_nav a {
		display: inline-block;
		text-decoration: none;
		margin: 0 50px 25px 0;
	}

	.sub_nav a.selected {
		font-weight: bold;
		font-size: 1.5em;
		/*text-shadow: 2px 2px 3px #ccc;
		text-decoration: underline;*/
	}

p {
	font-size: 1.1em;
	line-height: 1.4em;
	color: #888;
	margin-bottom: 1em;
}

.text p {
	font-size: 1.2em;
	line-height: 1.4em;
}

h1	{
	text-decoration: none;
	color: #FFF;
}

h2	{
	color: #FF9933;
	text-decoration: none;
	margin-bottom: 10px;
}

h3   {
    /*color: #F9A94D;*/
    text-decoration: none;
    margin-bottom: 0;
    font-weight: normal;
    /*text-shadow: 0.15px 0.15px 0 #555;*/
}

h4   {
    color: #FF9933;
    border: 1px solid #FF9933;
    border-radius: 5px;
    background-color: #FFF;
    padding: 10px 15px 10px 15px;
    font-size: 1.125em;
}

.active   {
  	color: #FFF;
    border: 1px solid #FF9933;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    font-size: 1.125em;
   	background-color: #FF9933;
   	font-style: normal;
}

.text {
	border-left: 1px solid #FF9933;
	border-right: 1px solid #FF9933;
	border-bottom: 1px solid #FF9933;
	padding: 15px;
	color: #888;
	font-size: 0.875em;
}

.wrapper {
	max-width: 960px;
	margin: 0 auto;
}

section {
    margin: 0 0 50px 0;
}

.home_image {
    height: 300px;
    background: url(../images/great-wall.jpg);
    background-size: cover;
    margin: 10px 0 0 0;
    box-shadow: 10px 10px 0 #FF9933;
    -webkit-box-shadow: 10px 10px 0 #FF9933;
	-moz-box-shadow: 10px 10px 0 #FF9933;
}

.col3_image {
	/*border: 3px solid #FF9933;*/
    height: 300px;
    overflow: hidden;
    margin: 10px 0 0 0;
    box-shadow: 10px 10px 0 #FF9933;
    -webkit-box-shadow: 10px 10px 0 #FF9933;
	-moz-box-shadow: 10px 10px 0 #FF9933;
}

figure {
    height: 200px;
    overflow: hidden;
    max-width: 300px;
    box-shadow: 10px 10px 0 #FF9933;
    -webkit-box-shadow: 10px 10px 0 #FF9933;
    -moz-box-shadow: 10px 10px 0 #FF9933;
    margin-bottom: 10px;
}

figcaption {
	margin: 10px 10px -20px 10px;
	font-weight: normal;
	font-size: 0.75em;
	line-height: 1.125em;
	font-family: Georgia, "Times New Roman", serif;
	color: #999;
}

.z1 {
	z-index: 1;
}

.col3 {
	margin: 0;
	min-width: 300px;
}

.col1_left {
	float: left;
	width: 31%;
	margin: 0 0 20px 0;
	min-width: 150px;
} 

.col1_mid {
	float: left;
	width: 31%;
	margin: 0  3% 20px 3%;
	min-width: 150px;
}

.col1_right {
	float: right;
	width: 31%;
	margin: 0 0 20px 0;
	min-width: 150px;
} 

.col2_left {
	float: left;
	width: 65%;
	margin: 0 3% 20px 0;
	min-width: 250px;
} 

.col2_right {
	float: right;
	width: 65%;
	margin: 0 0 20px 3%;
	min-width: 250px;
} 

a:link, a:visited  {
	text-decoration: none;
	color: #FF9933;
}

a:hover	{
	font-weight: bold;
}

form {
	color: #888;
}

input, textarea {
	display: block;
	width: 100%;
	padding: 5px;
	margin-bottom: 5px;
	box-shadow: 0 3px 5px #ccc;
	border: 1px solid #ccc;
}

input[type="submit"] {
	margin-top: 10px;
	width: 100px;
	background: #FF9933;
	color: white;
	border-radius: 25px;
	border: 0;
}

footer {
	height: 75px;
	background: url(../images/footer_image_2.jpg);
	margin-top: 100px;
	padding: 40px 0 0 25px;
	font-size: 0.625em;
	color: #fff;
}